/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/backups
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
.phpstorm.meta.php
.editorconfig
@php
/public/appserv
/public/cgi-bin
/public/phpMyAdmin
/config/snappy.php
*.bat
/.phpintel/
graph.png
/vendor
/storage/framework/laravel-excel